.grid.container
{
  display: grid;
  grid-template-columns: [left] 500px [right] auto;
  grid-template-rows: [top] 50px [middle] auto [bottom] 250px;
  

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.item
{
  overflow: hidden;
}

.item.problem-top
{
  grid-column: left;
  grid-row: top;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding: 0 25px;
}

.item.editor-top
{
  grid-column: right;
  grid-row: top;

  background-color: #1E1E1E;
}

.item.problem
{
  grid-column: left;
  grid-row: middle;

  display: grid;
  grid-template-rows: min-content max-content;

  padding: 0 25px 25px 25px;
}

#title
{
  grid-row: 1;

  margin-bottom: 10px;

  font-weight: 700;
}

#content-viewer
{
  grid-row: 2;

  height: 100%;
  overflow-y: auto;
}

.item.editor
{
  grid-column: right;
  grid-row: middle;

  background-color: #1E1E1E;
}

#editor
{
  width: 100%;
  height: 100%;
}

.item.test-case
{
  grid-column: left;
  grid-row: bottom;
}

.item.console
{
  grid-column: right;
  grid-row: bottom;
}